@import "tailwindcss";

@theme {
  --color-primary: #8cc740;
  --color-secondary: #00c0f3;
  --color-dark: #030712;
  --color-light: #f0f4f8;
}
.loader_under_construction_up,
.loader_under_construction_down {
  height: 25vh;
  aspect-ratio: 1.8;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #030712;
  background-position: bottom;
  animation: l8 7s infinite steps(7);
  position: relative; /* for ::after positioning */
  overflow: hidden;
}

/* shared rim outline */
.loader_under_construction_up::after,
.loader_under_construction_down::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #222; /* rim color */
  border-radius: 50%;
  box-shadow: 0 0 10px #8cc74066 inset, 0 0 10px #00c0f366; /* glow effect */
  pointer-events: none;
}

/* TOP — drains */
.loader_under_construction_up {
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) top/100% 18.18%;
  background-image: linear-gradient(#8cc740 0 0);
  background-size: 100% 0%;
  animation-direction: reverse;
}

/* BOTTOM — fills */
.loader_under_construction_down {
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background-image: linear-gradient(#00c0f3 0 0);
  background-size: 100% 0%;
}

/* animation */
@keyframes l8 {
  100% {
    background-size: 100% 115%;
  }
}

@media (max-width: 1024px) {
  .loader_under_construction_up,
  .loader_under_construction_down {
    height: 20vh;
  }
}
